.hero{:style => "background-image: url(https://s-media-cache-ak0.pinimg.com/736x/a5/0d/34/a50d3448f5dc127bd8ad502d038de920.jpg"}
  .hero__content.font-set
    %h1 Welcome to Till Count
    %a.btn{:href => "counter/new"} begin