/ till count form
%form#msform
  / fieldsets
  %fieldset
    %h2.fs-title till count
    %h3.fs-subtitle Enter Coins by Weight
    %input#e.in{:onkeyup => "converte('e')", :placeholder => "2 Euro (g)"}/
    %input#ee.out{:onkeyup => "converte('ee')"}/
    %input#f.in{:onkeyup => "convertf('f')", :placeholder => "1 Euro (g)"}/
    %input#ee.out{:onkeyup => "converte('ff')"}/
    %input#g.in{:onkeyup => "convertg('g')", :placeholder => ".50 cent (g)"}/
    %input#gg.out{:onkeyup => "convertg('gg')"}/
    %input#h.in{:onkeyup => "converth('h')", :placeholder => ".20 cent (g)"}/
    %input#hh.out{:onkeyup => "converth('hh')"}/
    %input#i.in{:onkeyup => "converti('i')", :placeholder => ".10 cent (g)"}/
    %input#ii.out{:onkeyup => "converti('ii')"}/
    %input#j.in{:onkeyup => "convertj('j')", :placeholder => ".05 cent (g)"}/
    %input#jj.out{:onkeyup => "convertj('jj')"}/
    %input#k.in{:onkeyup => "convertk('k')", :placeholder => ".02 cent (g)"}/
    %input#kk.out{:onkeyup => "convertk('kk')"}/
    %input#l.in{:onkeyup => "convertl('l')", :placeholder => ".01 cent (g)"}/
    %input#ll.out{:onkeyup => "convertl('ll')"}/
  %fieldset
    %h2.fs-title Social Profiles
    %h3.fs-subtitle Your presence on the social network
    %input{:name => "twitter", :placeholder => "Twitter", :type => "text"}/
    %input{:name => "facebook", :placeholder => "Facebook", :type => "text"}/
    %input{:name => "gplus", :placeholder => "Google Plus", :type => "text"}/
    %input.previous.action-button{:name => "previous", :type => "button", :value => "Previous"}/
    %input.next.action-button{:name => "next", :type => "button", :value => "Next"}/
  %fieldset
    %h2.fs-title Personal Details
    %h3.fs-subtitle We will never sell it
    %input{:name => "fname", :placeholder => "First Name", :type => "text"}/
    %input{:name => "lname", :placeholder => "Last Name", :type => "text"}/
    %input{:name => "phone", :placeholder => "Phone", :type => "text"}/
    %textarea{:name => "address", :placeholder => "Address"}
    %input.previous.action-button{:name => "previous", :type => "button", :value => "Previous"}/
    %input.submit.action-button{:name => "submit", :type => "submit", :value => "Submit"}/




<script>
function converte(eurotwo) {
if (eurotwo == "e") {
ee = document.getElementById("e").value / 8.5 * 2;
document.getElementById("ee").value = Math.round(ee);
}
}

function convertf(euroone) {
if (euroone == "f") {
ff = document.getElementById("f").value / 7.5;
document.getElementById("ff").value = Math.round(ff);
}
}

function convertg(eurofifty) {
if (eurofifty == "g") {
gg = document.getElementById("g").value / 7.8 * .50;
document.getElementById("gg").value = Math.round(gg);
}
}

function converth(eurotwent) {
if (eurotwent == "h") {
hh = document.getElementById("h").value / 5.74 * .20;
document.getElementById("hh").value = Math.round(hh);
}
}

function converti(euroten) {
if (euroten == "i") {
ii = document.getElementById("i").value / 4.10 * .10;
document.getElementById("ii").value = Math.round(ii);
}
}

function convertj(eurofive) {
if (eurofive == "j") {
jj = document.getElementById("j").value / 3.92 * .05;
document.getElementById("jj").value = Math.round(jj);
}
}

function convertk(eurotwocent) {
if (eurotwocent == "k") {
kk = document.getElementById("k").value / 3.06 * .02;
document.getElementById("kk").value = Math.round(kk);
}
}

function convertl(euroonecent) {
if (euroonecent == "l") {
ll = document.getElementById("l").value / 2.30 *.01;
document.getElementById("ll").value = Math.round(ll);
}
}
</script>
